{% extends '::backend.html.twig' %}

{% block section %}
<section class="creaForm">
	<form action="">
		<fieldset>
			<legend>Création du fiche film</legend>
			<label for="">Titre</label>
			<input type="text"><br />
			<label for="">Genre</label>
			<input type="text"><br />
			<label for="">Année de sortie</label>
			<input type="text"><br />
			<label for="">Réalisateur</label>
			<input type="text"><br />
			<textarea cols="100" rows="10">Synopsis</textarea><br />
			<label>Cover (80 x 120)</label>
			<input type="file" name=""><br />
			<input type="submit" name="Valider">
		</fieldset>
	</form>
</section>
{% endblock %}