{% extends '::frontend.html.twig' %}

{% block section %}
<section class="listeFilms">
	{% for e in films %}
		<article>
			<h3>{{ e.titre }}</h3>
			<div class="flex">
				<ul>
					<li><strong>Réalisateur: {{ e.realisateur }}</strong></li>
					<li>Genre: {{ e.genre }}</li>
					<li><i>Année de sortie: {{ e.annee | date('Y',"Europe/Paris") }}</i></li>
					<li><a href="">Voir la fiche</a></li>
				</ul>
				<img src="" alt="cover">
			</div>
		</article>
	{% endfor %}
</section>
{% endblock %}