{% extends '::backend.html.twig' %}

{% block section %}
		
<form action="{{ path('login_check') }}" method="post" class="login">
	{% if error %}
		<p class="error">{{ error.message }}</p>
	{% endif %}
	<fieldset>
		<legend>Authentification</legend>

		<label for="username">Login </label><br />
		<input type="text" id="username" name="_username" value="{{ last_username }}" /><br /><br />

		<label for="password">Mot de passe </label><br />
		<input type="password" id="password" name="_password" /><br /><br />

		<input type="hidden" name="_target_path" value="/admin" /><br /><br />

		<input type="submit" value="Connexion">
	</fieldset>
</form>

{% endblock %}