.titreSection{
	padding-top: .8rem;
}
.listeFilms{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding-top: .8rem;
	article{
		width: 22%;
		border: 2px solid #CFD8DC;
		margin-right: .5rem;
		margin-left: .5rem;
		padding: 1rem;
		margin-bottom: 1rem;
		&:hover{
			border: 2px solid #607D8B;
		}
		h3{
			text-align: center;
			margin-bottom: 1rem;
		}
		.flex{
			display: flex;
			justify-content: space-around;
			li{
				list-style-type: none;
				font-size: .9rem;
				a{
					color: #263238;
				}
			}
			img{
				display: block;
			}
		}
	}
}